.TodoItem{
    width: 90%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ffff;
    margin: 1.5rem 0;
    border-radius: 20px;
    padding: 0.6rem;
    transition: 0.2s ease;
}
.TodoItem:hover{
    transform: scale(1.02);
    box-shadow: 10px 8px 19px -6px rgba(255,255,255,0.3);
    -webkit-box-shadow: 10px 8px 19px -6px rgba(255,255,255,0.3);
    -moz-box-shadow: 10px 8px 19px -6px rgba(255,255,255,0.3);
    font-weight: bold;
}
.TodoItem span {
    cursor: pointer;
}
@media (min-width: 425px) {
    .TodoItem{
        height: 8rem;
        max-width: 70%;
    }
}
.done{
    filter: opacity(.5);
}
.done-text{
text-decoration: line-through;
}
.done:hover{
    transform: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-weight: normal;
}